.weekTimesList {
	display:flex;
	justify-content: between;
	width:100%;
	>div {
		flex:1;
		border:solid 1px #d9d9d9;
		border-left-width: 0;
	}
	>div:first-child {
		border-left-width:1px;
	};
	.weeks,.times {
		padding: 10px;
	}
	.weeks {
		background: #f2f2f2;
		border-bottom: solid 1px #d9d9d9;
	}
	.times {
		cursor:pointer;
		.theTime,.cur {
			padding:2px 5px;
			border-radius: 2px;
		}
		.cur {
			background:rgb(0, 204, 255);
			color:#fff;
			.ant-badge-status-error {
				background-color:#fff!important;
			}
		}
	}
}