@import "../common/common.less";
.Topselect .ant-select-lg .ant-select-selection--single,
.Topselect .ant-select-selection--single,
.Topselect .ant-calendar-picker,
.Topselect .ant-calendar-picker-input {
    height: 40px;
}

.Topselect .ant-select-lg .ant-select-selection__rendered,
.Topselect .ant-select-selection__rendered,
.Topselect .ant-calendar-picker,
.Topselect .ant-calendar-picker-input {
    line-height: 40px;
}
.ant-pagination-options .ant-pagination-options-size-changer {
    width: auto !important;
}
.f-create-pk .ant-table{
    overflow:scroll !important;
}
.f-create-select{
     -moz-appearance: none;
    appearance: none;
    background-image: url("http://221.228.109.114:8083/manage/more/firefox_select_icon.png") !important;
    background-repeat: no-repeat !important;
    background-position: calc(100% - 7px) 50% !important;
    background-size: 7% auto !important;
    border-radius:3px;
    padding:0;
}
table.tablefix {
    border-collapse: collapse;
    border-spacing: 0px;
    width: 100%;
    border: #D4D4D4 solid 0px;
    td {
        border: 1px solid #D4D4D4;
        text-align: center;
        border-left: 0px;
        border-top: 0px;
        overflow:hidden;
      white-space:nowrap;
      text-overflow:ellipsis;
    }
    th {
//      background: #edd3d4;
        color: #a10333;
        border: #D4D4D4 solid 1px;
        white-space: nowrap;
        height: 42px !important;
        border-top: 0px;
        border-left: 0px;
    }
}


.t_left {
    width: 20%;
    height: auto;
    float: left;
    border-top: 1px solid #D4D4D4;
    border-left: 1px solid #D4D4D4;
}
/*t_r_content和cl_freeze高度相差20px， 高度为外观显示高度，可根据情况调整*/

.t_r_content {
    width: 100%;
    background: #ececec;
    overflow: auto;
}

.cl_freeze {
    overflow: hidden;
    width: 100%;
}
.f-viewdetail-down{
    margin-right: 3px !important;
}
.f-classlist-down{
    margin-left: 3px !important;
}
.f-classlist-check{
    padding: 0px 9px 0 15px !important;
}
.f-viewdetail-check{
    padding: 0px 15px 0 9px !important;
}
/* width 调整左边标题列宽度（左侧外观显示宽度）; 指定为width:auto 在Opera下显示有问题; height比 t_r_content 高度小20px*/
/* width 宽度为 右侧外观显示宽度 实际显示宽度大小为“t_r”宽度加上“cl_freeze”宽度 */
/* 如果显示不正常，调整 t_r的width 使其和t_left的width之和小于100%；等于100%时会有问题*/
.t_r {
    width: 80%;
    height: auto;
    float: left;
    border-top: 1px solid #D4D4D4;
    border-right: #D4D4D4 solid 1px;
    table {
        width: 1000px;
    }
}
.t_r_title {
    width: 1020px;
}
/*宽度比 t_r table 大20px （至少大20，小了滚动条滑到右侧显示有问题）*/

.t_r_t {
    width: 100%;
    overflow: hidden;
}

.bordertop {
    border-top: 0px;
}

.classListPage {
    table td {
        // color: #4A4A4A;
    }
    .ant-input {
        border: none;
    }
    .ant-select-selection {
        border: none;
    }
    .ant-tabs-tab i {
        vertical-align: middle;
    }
    table th {
        // font-size: 16px;
        color: #555D6A;
    }
    .ant-calendar-picker,
    .ant-calendar-picker {
        width: 100%!important;
    }
    .ant-pagination-options-size-changer div.ant-select-selection{
        border:1px solid #d9d9d9;
    }
    
}

.pageInpHeight {
    height: 40px;
}

.f-15 {
    color: #151515;
}

.ant-select-lg .ant-select-selection--single,.ant-select-selection--single {
    background: #F3F3F8;
}

.checkRecord .ant-form-item-label {
    text-align: left !important;
}

.teacherCourList li:nth-child(odd) {
    background: #F3F8FF;
}

@media print {
    body * {
        visibility: hidden;
    }
    .section-to-print,
    .section-to-print * {
        visibility: visible;
    }
    .section-to-print {
        position: absolute;
        left: 0;
        top: 0;
    }
    .section-not-to-print {
        display: none;
    }
}

.commonInterval {
    height: 270px;
    overflow: scroll;
    background: white;
    z-index: 1000;
    li {
        height: 30px;
        line-height: 30px;
        cursor: pointer;
    }
    li:hover {
        background: #F9FCFF;
    }
}

.wid100 .ant-form-item-control-wrapper {
    width: 100%;
}


#upload-select {
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    left: 0;
    font-size: 500px;
}

.createArchives {
    .ant-upload-list-item-info:before {
        left: 0;
    }
    .regular .ant-form-item-control-wrapper {
        width: 100% !important;
    }
    .period .ant-form-item-control-wrapper {
        width: 100% !important;
    }
}

.courseDetail {
    border-collapse: collapse;
    thead th {
        width: 130px;
    }
    tbody {
        background: #F3F3F8;
        td {
            width: 126px;
            height: 86px;
            border-left: 1px solid #D4D4D4;
            border-top: 1px solid #D4D4D4;
            text-align: center;
        }
        tr td:nth-child(1) {
            background: white;
            border: none;
            padding: 20px;
        }
    }
}

.archUp .ant-form-item {
    margin-bottom: 0 !important;
}

.pic_list {
    display: block;
    white-space: nowrap;
    width: 60%;
    overflow-x: scroll;
    table {
        height: 88px;
    }
    td {
        width: 126px;
        //height: 88px;
        //overflow-y: scroll;
        height: 100%;
        background: white;
        display: inline-block;
        text-align: center;
    }
}

.bg9B {
    background: #d5e8ff;
}

.viewDetails .wid100 .ant-col-20 {
    width: 100%;
}

.width100 {
    .ant-calendar-picker,.ant-time-picker{
        width: 100% !important;
    }
    .ant-select {
        width: 100%;
    }
    .ant-col-18 {
        width: 100% !important;
    }
}
.viewDetailPage .ant-form-item-control {
    display: flex;
    display: -webkit-flex;
}
.f-label:before {
        display: inline-block;
        margin-right: 4px;
        content: "*";
        font-family: SimSun;
        line-height: 1;
        font-size: 14px;
        color: #f04134;
    }
.createClass {
    .label:before {
        display: inline-block;
        margin-right: 4px;
        content: "*";
        font-family: SimSun;
        line-height: 1;
        font-size: 14px;
        color: #f04134;
    }
    .pageRight .ant-col-18 {
        width: 100%;
    }
    .pageRight .ant-form-item {
        margin-bottom: 0 !important;
    }
}

.modalLabelTip {
    display: inline-block;
    margin-right: 4px;
    font-family: SimSun;
    line-height: 1;
    font-size: 14px;
    color: #f04134;
}

.zdschool {
    .ant-select-selection {
        background: #F3F3F8;
    }
    .ant-select-selection__rendered {
        height: 37px;
    }
}

.uploadFile .ant-btn {
    height: 40px;
}
.f-h4-lh4{
    height: 40px;
    line-height: 40px;
}
.f-align-inputNumber .ant-input-number-input{
    text-align: center;
}
.viewDpage input.checkbox{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.hightC_white{
    -webkit-tap-highlight-color: #000000;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
