@import "./common/antdReset.less";
@import "./common/common.less";

@leftSideWidth:200px;

.iconfont {
	font-family: "iconfont";
	font-style:normal;
}
.webfont {
	font-family:"webfont";
}

.main-layout {
	min-height:100vh;
	.ant-layout-header {
		position:fixed;
		z-index:2;
		width:100%;
	}
	.f-header {
		.logo {
			height:85px;
			line-height:87px;
			width:170px;
			box-shadow:0 2px 12px rgba(0,0,0,0.3);
			img {
				display: inline;
			    width: 100px;
			    position: relative;
			    top: 10px;
			    background: #fff;
			    border-radius: 2px;
			    padding: 4px;
			    box-shadow: 0 0 22px rgba(0,0,0,1);
				// -webkit-filter: grayscale(100%);
				//     -moz-filter: grayscale(100%);
				//     -ms-filter: grayscale(100%);
				//     -o-filter: grayscale(100%);
				    
				//     filter: grayscale(100%);
					
				//     filter: gray;
			}
		}
		min-width:1440px;

		.top-menu{
			a {
				height:86px;
				line-height:50px;
				i {
					display: block;
					height:37px;
					line-height:60px;
					font-size:30px;
					margin:0;
				}
			}
		}

		.f-header-right {
			.user-avatar {
				position:relative;
				top:12px;
			}
			.user-nickname {
				// display:inline-block;
				// overflow: hidden;
			}
		}
	}
}


.f-main {
	margin-left:@leftSideWidth+20;
	margin-top: 87px;
}

.f-main-content {
	background:#ECECEC;
	min-width:1180px;
//	margin:20px;
	margin-bottom:0;
	margin:20px;
}
.f-left-sider {
	position:fixed;
	left:0;
	bottom:0;
	top:87px;
	margin:20px;
	overflow-x:hidden;
	overflow-y:scroll;
	background:#fff;
	* {
		font-size:14px!important;
	}
}
.f-left-sider-collapsed {
	margin-right:-@leftSideWidth;
}
.f-footer {
	bottom:0;
	width:100%
}
