@blue:#2187FF;
@darkBlue:#243250;
@green:#00c9b9;
@yellow:#ffb121;
@red:#ff0020;
@orange:#f60;
.ant-layout-header {
	padding:0;
}
.ant-menu.ant-menu-dark .ant-menu-item-selected {
	border-bottom: solid 1px #00615a;
}