@blue:#00615a;
@darkBlue:#243250;
@green:#4aa236;
@yellow:#ffb121;
@red:#ff0020;
@orange:#f60;

@import "//at.alicdn.com/t/font_444744_5nmz2g48axtro1or.css";
.ant-form-explain{
    font-size: 13px !important;
}
//顶部登录用户背景
.ant-avatar{
    background: #4aa236 !important;
}
.ant-menu-inline .ant-menu-item:after, .ant-menu-vertical .ant-menu-item:after{
    border:none !important;
}
.iconfont {
    font-family: "iconfont";
    font-size: 1.4rem;
    font-style: normal;
    vertical-align: middle;
}

i {
  font-style:normal;
}
/* 一致的 del 样式 */
.f-line-through {
  text-decoration: line-through;
}

/* 清理浮动 */
.f-clear:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* 人名币符号 &yen; */
.f-cny {
  font-family: arial;
}

/* inline对齐方式 */
.f-align-right {
  text-align: right !important;
}

.f-align-left {
  text-align: left !important;
}

.f-align-center {
  text-align: center !important;
}

/* 设置内联, 减少浮动带来的bug */
.f-left, .f-right {
  display: inline;
}

.f-left {
  float: left !important;
}

.f-right {
  float: right !important;
}

/* 隐藏 */
.f-hide {
  display: none !important;
}

/* 颜色 */
.f-white {
  color:#fff;
}
.f-black {
  color:rgba(0, 0, 0, 0.85);
}
.f-red {
  color: @red;
}

.f-orange {
  color: @orange;
}

.f-blue {
  color: @blue;
}

.f-dark-blue {
  color:@darkBlue;
}

.f-green {
  color: @green;
}

.f-yellow {
  color:@yellow;
}

.f-black {
  color: #000;
}

.f-dark {
  color: #333;
}

.f-gray {
  color: #666;
}

.f-pale {
  color: #999;
}

.f-light {
  color: #ccc;
}

/*背景色*/

.f-bg-blue {
  background-color:@blue;
}
.f-bg-dark-blue {
  background-color: @darkBlue;
}
.f-bg-green {
  background-color:@green;
}
.f-bg-yellow{
  background-color:@yellow;
}
.f-bg-red {
  background-color:@red;
}
.f-bg-white {
  background-color:#fff;
}
.f-bg-orange {
  background-color:@orange;
}

/* 间距，最小单位是4 */
.f-mt1 {
  margin-top: 4px;
}

.f-mt2 {
  margin-top: 8px;
}

.f-mt3 {
  margin-top: 12px;
}

.f-mt4 {
  margin-top: 16px;
}

.f-mt5 {
  margin-top: 20px;
}

.f-mb1 {
  margin-bottom: 4px;
}

.f-mb2 {
  margin-bottom: 8px;
}

.f-mb3 {
  margin-bottom: 12px;
}

.f-mb4 {
  margin-bottom: 16px;
}

.f-mb5 {
  margin-bottom: 20px;
}
.f-mb6{
    margin-bottom: 30px;
}
.f-mb7{
    margin-bottom: 40px;
}
.f-mr1 {
  margin-right: 4px;
}

.f-mr2 {
  margin-right: 8px;
}

.f-mr3 {
  margin-right: 12px;
}

.f-mr4 {
  margin-right: 16px;
}

.f-mr5 {
  margin-right: 20px;
}

.f-ml1 {
  margin-left: 4px;
}

.f-ml2 {
  margin-left: 8px;
}

.f-ml3 {
  margin-left: 12px;
}

.f-ml4 {
  margin-left: 16px;
}

.f-ml5 {
  margin-left: 20px;
}

.f-m0 {
  margin:0;
}

/* 内间距，最小单位是4 */

.f-pb1 {
  padding-bottom: 4px;
}

.f-pb2 {
  padding-bottom: 8px;
}

.f-pb3 {
  padding-bottom: 12px;
}

.f-pb4 {
  padding-bottom: 16px;
}

.f-pt5 {
  padding-top: 20px;
}

.f-pt1 {
  padding-top: 4px;
}

.f-pt2 {
  padding-top: 8px;
}

.f-pt3 {
  padding-top: 12px;
}

.f-pt4 {
  padding-top: 16px;
}

.f-pt5 {
  padding-top: 20px;
}


.f-pr1 {
  padding-right: 4px;
}

.f-pr2 {
  padding-right: 8px;
}

.f-pr3 {
  padding-right: 12px;
}

.f-pr4 {
  padding-right: 16px;
}

.f-pr5 {
  padding-right: 20px;
}
.f-pl1 {
  padding-left: 4px;
}

.f-pl2 {
  padding-left: 8px;
}

.f-pl3 {
  padding-left: 12px;
}

.f-pl4 {
  padding-left: 16px;
}

.f-pl5 {
  padding-left: 20px;
}
.f-pd1 {
  padding: 4px;
}

.f-pd2 {
  padding: 8px;
}

.f-pd3 {
  padding: 12px;
}

.f-pd4 {
  padding: 16px;
}

.f-pd5 {
  padding: 20px;
}
.f-pd0 {
  padding:0;
}

//显示，块元素
.f-block {
    display: block;
}
//行内块元素
.f-inline-block {
    display: inline-block;
}
.f-pointer{
    cursor: pointer;
}
//允许复制
.f-copy{
    -webkit-user-select: text!important;
    -moz-user-select: text!important;
    -ms-user-select: text!important;
     user-select: text!important;
}
//禁止复制
.f-forbid-copy{
    -webkit-user-select: none!important;
    -moz-user-select: none!important;
    -ms-user-select: none!important;
     user-select: none!important;
}
.f-flex{
    display:flex;
    display: -webkit-flex;
}

.f-flex1{
    flex: 1;
    -ms-flex: 1;
}
.f-flex2{
    flex: 2;
    -ms-flex: 2;
}
.f-absolute{
    position: absolute;
}
.f-relative{
    position: relative;
}
.f-fixed{
    position: fixed;
}
//省略
.f-ellipsis{
  text-overflow:ellipsis;
  -o-text-overflow:ellipsis;
  -webkit-text-overflow:ellipsis;
  -moz-text-overflow:ellipsis;
  white-space:nowrap;
  overflow: hidden;
}
.f-line1{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.f-line2,.f-line3,.f-line4{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
//两行显示
.f-line2{
    -webkit-line-clamp: 2;
}
.f-line3{
    -webkit-line-clamp: 3;
}
.f-line4{
    -webkit-line-clamp: 4;
}
.f-line5{
    -webkit-line-clamp: 5;
}

.f-lh1 {
  line-height:22px;
}
.f-lh2 {
  line-height:24px;
}
.f-lh3 {
  line-height:26px;
}
.f-lh4 {
  line-height:28px;
}
.f-lh5 {
  line-height:30px;
}
.f-lh6 {
  line-height:34px;
}
.f-lh7 {
  line-height:36px;
}
.f-lh8 {
  line-height:38px;
}
.f-lh9 {
  line-height:40px;
}

.f-vertical-middle{
    vertical-align: middle;
}
.f-vertical-top{
    vertical-align: top;
}
.f-vertical-bottom{
    vertical-align: bottom;
}
.f-vertical-base-line{
    vertical-align: baseline;
}
.f-over-hide {
  overflow:hidden;
}
/*字号*/
.f-fz1 {
  font-size:10px;
}
.f-fz2 {
  font-size:12px;
}
.f-fz3 {
  font-size:14px;
}
.f-fz4 {
  font-size:16px;
}
.f-fz5 {
  font-size:18px;
}
.f-fz6 {
  font-size:20px;
}
.f-fz7 {
  font-size:22px;
}
.f-fz8 {
  font-size:30px;
}
.f-fz9 {
  font-size:34px;
}

.f-bold {
  font-weight: 500;
}

.f-box-shadow1 {
  box-shadow: 1px 1px 2px rgba(0,0,0,0.2);
}
.f-box-shadow2 {
  box-shadow: 0px 0px 1px rgba(0,0,0,0.4);
}
.f-radius1 {
  border-radius: 4px;
}
.f-radius2 {
  border-radius: 8px;
}
.f-radius3 {
  border-radius: 12px;
}
.f-radius4 {
  border-radius: 16px;
}
.f-radius5 {
  border-radius: 20px;
}
.f-round {
  border-radius:100%;
}

.f-round-tip {
  width:26px;
  height:26px;
  line-height:26px;
  display:inline-block;
  text-align:center;
}

/*标题*/
.f-title {
  display:inline-block;
  padding-left: 12px;
  font-size:14px;
  position:relative;
  &:before {
    content:"";
    position:absolute;
    left:0;
    top: 0;
    width:6px;
    height:22px;
    border-radius:12px;
  }
}

.f-title-blue {
  &:before{
    background-color:@blue;
  }
  .f-title;
}
.f-title-green {
  &:before{
    background-color:@green;
  }
  .f-title;
}
.f-title-red {
  &:before{
    background-color:@red;
  }
  .f-title;
}
.f-title-orange {
  &:before{
    background-color:@orange;
  }
  .f-title;
}
.f-title-yellow {
  &:before{
    background-color:@yellow;
  }
  .f-title;
}
/*按钮*/
.f-btn {
  display:inline-block;
  height:40px;
  line-height:40px;
  font-weight: 500;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  text-align:center;
  white-space: nowrap;
  padding: 0 15px;
  font-size: 14px;
  border-radius: 4px;
  border-radius:4px;
  color:#fff;
}
.f-btn-blue {
  background-color:@blue;
  &:hover,
  &:active {
    color: #ffe;
    background-color:@blue + #111;
  }
  .f-btn;
}

.f-btn-green {
  background-color:@green;
  &:hover,
  &:active {
    color: #ffe;
    background-color:@green + #111;
  }
  .f-btn;
}

.f-btn-yellow {
  background-color:@yellow;
  &:hover,
  &:active {
    color: #ffe;
    background-color:@yellow + #111;
  }
  .f-btn;
}
.f-btn-red {
  background-color:@red;
  &:hover,
  &:active {
    color: #ffe;
    background-color:@red + #333;
  }
  .f-btn;
}
.f-btn-orange {
  background-color:@orange;
  &:hover,
  &:active {
    color: #ffe;
    background-color:@orange + #111;
  }
  .f-btn;
}

.f-border {
  border-bottom:solid 1px #ECECEC;
  height:0px;
  width:100%;
}
/*精确查找-高级筛选的头部*/
.searchTab {
  display:flex;
  justify-content:center;
  align-items:center;
  border-bottom: solid 1px #E7E7E7;
  margin-bottom:16px;
  li {
    padding:0 16px;
    line-height:36px;
    height:36px;
  }
  li.cur {
    border-bottom:solid 2px @blue;
  }
}

/*右边竖形标题*/
.f-right-title-box {
  position:relative;
  padding-right:60px!important;
  .f-right-title {
    position:absolute;
    right:0;
    top:0;
    height:100%;
    width:40px;
    h3 {
      color: #fff!important;
      text-align:center;
      line-height:28px;
      font-size:18px;
      height:100%;
      width:20px;
      margin:0 auto;
      font-weight:normal;
      display:flex;
      align-items:center;
      justify-content:center;
    }
  }
}

/*隐藏边框*/
.f-br-none{
  border-right:none!important;
}
.f-bl-none{
  border-left:none!important;
}
.f-bt-none{
  border-top:none!important;
}
.f-bb-none{
  border-bottom:none!important;
}
/*左边竖形标题*/
.f-left-title-box {
  position:relative;
  padding-left:120px!important;
  min-height: 100px;
  .f-left-title {
    position:absolute;
    left:0;
    top:0;
    height:100%;
    width:100px;
    h3 {
      color: #fff!important;
      text-align:center;
      line-height:28px;
      font-size:18px;
      height:100%;
      width:40px;
      margin:0 auto;
      font-weight:normal;
      display:flex;
      align-items:center;
      justify-content:center;
    }
  }
}

/*自定义选择框*/
.f-checkbox{
  font-size: 20px;
  -webkit-appearance: none;
  margin-right:16px;
  height:20px!important;
  -webkit-transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6);
  transition: all 0.1s cubic-bezier(0.71, -0.46, 0.88, 0.6);
  outline: 0!important;
}
.f-checkbox-checked{
  color:#1890ff;
  -webkit-transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
  transition: all 0.2s cubic-bezier(0.12, 0.4, 0.29, 1.46) 0.1s;
}
.f-center-number{
  input{
    text-align: center!important;
  }
}

/*右上角校区*/
.top-school-box {
  // border-right:solid 1px #f2f2f2;
  box-shadow:2px 0 2px rgba(0,0,0,0.2);
  .top-schools-name {
    padding: 10px;
    box-shadow: 0 1px 4px rgba(255,255,255,0.8);
    border-radius: 4px;
    height: 40px;
    margin-left: 1px;
    color:#fff;
  }

  .top-schools {
    position:absolute;
    background-color:#fff;
    border-radius:4px;
    width:200px;
    top:60px;
    padding:8px 16px 16px;
    line-height:24px;
    .ant-checkbox-group-item {
      display:block;
    }
  }
}

.f-list-avatar {
  width:60px;
  height:60px;
  background:#D8D8D8;
  position:relative;
  left: 2px;
  overflow: hidden;
  border-radius:100%;
  img{
    width:100%;
    display:inline-block;
  }
}
/*市场运营->更换销售员*/
.f-change-check{
  display: flex;
  align-items: center;
  > span {
    vertical-align: middle;
  }
}

/* 控制时间label */
.f-custom-label{
  position: relative;
  cursor: default;
  color:rgba(0,0,0, .85);
  font-size:14px;
  line-height:36px;
  &:after {
    content: ":";
    margin: 0 8px 0 2px;
    position: relative;
    top: -0.5px;
  }
}

/*打印表格*/
.f-print-table {
  padding:40px 0;
  line-height:30px;
  background:#fff;
  color:#000;
  table {
    width:100%;
    border-collapse: collapse;
    border:solid 1px #000;
    td,th {
      border:solid 1px #000;
      padding:8px 16px;
    }
  }
}